<footer>
    <div class="container">
        <div class="info">
            <h3>Thông tin</h3>
            <p>Đại học Công nghiệp Hà Nội</p>
        </div>
        <div class="map">
            <h3>Bản đồ</h3>
            <p>Địa chỉ: Minh Khai, Bắc Từ Liêm, Hà Nội</p>
        </div>
        <div class="social">
            <h3>Kết nối với chúng tôi</h3>
            <p>Facebook | Twitter | Instagram</p>
        </div>
        <div class="copyright">
            <p>© 2023 Đại học Công nghiệp Hà Nội</p>
        </div>
    </div>
</footer>