<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khôi phục mật khẩu</title>
    <link rel="stylesheet" href="khoiphucmk.css">
    <style>
        * body {
            padding: 0;
            margin: 0;
            background-color: #EEEEEE;
        }

        .wrapper {
            min-height: 100%;
            padding-top: 100px;
            margin-left: 25%;
            margin-right: 25%;
        }

        .form {
            text-align: center;
            background-color: white;
            border: 2px solid #EEEEEE;
            height: 490px;
            width: 600px;
            border-radius: 1%;
            border-top: 5px solid #ea4335;

        }

        /* Logo img */
        .wrapper .form .title #logo {
            margin-top: 20px;

        }

        .wrapper .form .title img {
            height: 60px;
            width: 60px;
            border-radius: 10%;
            border: 2px solid black;
        }

        .form .title h3 {
            margin-bottom: 5px;
        }

        .form #note {
            color: red;
            margin-top: 0px;
            padding: 0 10px;
        }

        hr {
            margin: 0 15px;
        }

        .wrapper .content form {
            margin: 10px 179px;
        }

        .wrapper .content .input-form {
            padding: 0 5px;

        }

        .wrapper .note-confirm {
            font-size: 15px;
        }

        .wrapper .confirm button {
            border-radius: 6px;
            height: 24px;
        }

        .wrapper .confirm button:hover {
            background-color: rgb(45, 45, 215);
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="form">
            <div class="title">
                <div id="logo"><img src="/client/images/Logo.png" alt="logo"></div>
                <h2>Trường Đại học Công Nghiệp Hà Nội</h2>
                <h3>Chức năng khôi phục lại mật khẩu</h3><br>
                <p id="note">Bạn phải nhập đầy đủ và chính xác các thông tin đã cập nhật trên hệ thống. Mật khẩu
                    sẽ được gửi về email mà bạn đăng ký nếu khôi phục thành công!</p>
            </div>
            <hr>
            <div class="content">
                <form>
                    <table>

                        <tr>
                            <td><label for="full-name">Họ và tên</label></td>
                            <td><input type="text" id="full-name" required placeholder="Nhập họ và tên"
                                    value="{{user.fullname}}"></td>
                        </tr>

                        <tr>
                            <td><label for="email">Email</label></td>
                            <td><input type="text" id="email" required placeholder="Nhập email" value="{{user.email}}">
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="note-confirm">
                    <p>Click vào nút khôi phục mật khẩu, mã xác nhận sẽ gửi về email mà bạn cung cấp!</p>
                </div>
                <div class="confirm">
                    <button type="submit" class="btn btn-primary">Khôi phục mật khẩu</button>
                </div>

            </div>

        </div>
    </div>
</body>

</html>