<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/client/css/stylelogin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/client/css/themify-icons/themify-icons.css">

    <style>
        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }

        .alert-success {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }

        .alert {
            position: relative;
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
    </style>
</head>

<body>
    <form action="/user/login" method="post">
        <div class="wrapper">
            <h1>Đăng nhập</h1>
            {{#if messages.danger}}
            <div class="alert alert-danger" role="alert">
                <span>{{messages.danger}}</span>
            </div>
            {{/if}}
            {{#if messages.success}}
            <div class="alert alert-success" role="alert">
                <span>{{messages.success}}</span>
            </div>
            {{/if}}
            <!-- Ô nhập -->
            <div class="input-box">
                <input type="text" placeholder="Email" required name="email">
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Mật khẩu" required name="password" id="showPass">
                <i class='ti-eye' onclick="showPw()" style="cursor: pointer;" id="icon"></i>
            </div>
            <!-- Nhớ-quên mật khẩu -->
            <div class="remember-forgot">
                <label><input type="checkbox" name="rememberPassword">Ghi nhớ mật khẩu</label>
                <a href="/user/forgotPassword">Quên mật khẩu</a>
            </div>
            <button type="submit" class="login">Đăng nhập</button>
            <!-- Link đến đang ký -->
            <div class="register-link">
                <p>Bạn có tài khoản chưa? <a href="/user/register">Đăng ký</a></p>
            </div>
        </div>
    </form>
</body>

</html>