<form action="/admin/notification/create" method="post">

    <div class="form-group">
        <label for="">Tiêu đề</label>
        <input type="text" placeholder="" required class="form-control" name="title">

        <div class="form-group">
            <label for="">Mô tả thông báo</label>
            <textarea name="description" id="" rows="6" cols="180" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Tạo mới và đẩy lên web</button>
</form>